%% -*- erlang -*-

{deps, [
    {equery, {git, "git://github.com/egobrain/equery", {tag, "0.2.0"}}},
    {epgpool, {git, "git://github.com/egobrain/epgpool", {tag, "1.0.0"}}},
    {zlist, {git, "git://github.com/egobrain/zlist", {tag, "1.0.1"}}},
    {jiffy, {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.8"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {epgpool_cth, ".*", {git, "https://github.com/egobrain/epgpool_cth.git", {tag, "1.0.0"}}},
            {dbschema, ".*", {git, "https://github.com/egobrain/dbschema.git", {tag, "0.2.0"}}}
        ]}
    ]}
]}.
