%% -*- erlang -*-

{erl_opts, []}.

{deps, [
    {equery, "0.12.0"},
    {epgpool, "1.1.1"},
    {zlist, "1.1.1"}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            {d, {'PG_TYPES', custom_dbtypes}},
            {parse_transform, lager_transform}
        ]},
        {deps, [
            {epgpool_cth, {git, "https://github.com/egobrain/epgpool_cth.git", {tag, "1.0.0"}}},
            {dbschema, "0.2.2"},
            {lager, "3.2.1"},
            {jiffy, {git, "git://github.com/davisp/jiffy.git", {ref, "a7db724"}}}
        ]}
    ]}
]}.

{ct_opts, [
    {ct_hooks, [repo_cth]}
]}.

{xref_checks, [undefined_function_calls]}.
