%% -*- erlang -*-

{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
    {lager, {git, "git://github.com/basho/lager.git", {tag, "3.0.2"}}},
    {equery, {git, "git://github.com/egobrain/equery", {tag, "0.6.0"}}},
    {epgpool, {git, "git://github.com/egobrain/epgpool", {tag, "1.0.0"}}},
    {zlist, {git, "git://github.com/egobrain/zlist", {tag, "1.0.1"}}},
    {jiffy, {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.8"}}}
]}.

%% Building C bindings
{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {artifacts, ["priv/jiffy.so"]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {epgpool_cth, {git, "https://github.com/egobrain/epgpool_cth.git", {tag, "1.0.0"}}},
            {dbschema, {git, "https://github.com/egobrain/dbschema.git", {tag, "0.2.0"}}}
        ]}
    ]}
]}.

{ct_opts, [
    {ct_hooks, [repo_cth]}
]}.

{cover_enabled          , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "_build/test/cover/ct.coverdata"}.
{coveralls_service_name , "travis-ci"}.
{xref_checks, [undefined_function_calls]}.
